.header-top{
    padding: 0.5rem 1rem;
    background-color: rgb(202 138 4);;
}

.header-top-main{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

.header-top-main img{
    width: 1rem;
    height: 1rem;
    object-fit: contain;
}

.header-mid{
    padding: 0.5rem;
    background-color: rgb(202 138 4);;
}

.header-mid-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-mid-main img{
    height: 3rem;
    width: auto;
    background-color: rgb(202 138 4);;
}

.header-bottom{
    position: sticky;
    top: 0;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    /*background-color: var(--background-primary);*/
    z-index: 1010;
    background-color: rgb(202 138 4);;
}

.header-bottom img{
    width: 1.75rem;
    height: 1.75rem;
    object-fit: contain;
}

.header-bottom-mid ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-transform: uppercase;
    list-style-type: none;
}

.header-bottom-mid ul.header-dropdown{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.header-bottom-mid li{
    position: relative;
    padding: 0.2rem 0;
}

.header-bottom-mid li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1rem;
    background-color: var(--text-primary);
    transition: width 300ms ease-in-out;
}
.header-bottom-mid li:hover::after{
    width: 100%;
}

.header-bottom-mid li p{
    color: var(--text-primary);
    font-size: 1.2rem;
}

.header-dropdown-menu{
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 15rem;
    transform: translatey(100%);
    border-radius: 1rem;
    background-color: var(--background-primary);
    padding: 0 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out, padding 300ms ease-in-out;
    z-index: 1;
}

.header-bottom-mid li:hover > .header-dropdown-menu{
    max-height: 18rem;
    padding: 1.5rem;
}

.header-bottom-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}

/* Mobile */
.mobile{
    display: none;
}
.mobile-header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.mobile-header-top img{
    height: 1.75rem;
    object-fit: contain;
}

.mobile-header-top-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}

.mobile-header-menu{
    --top-spacing: 3.75rem;
    position: fixed;
    width: 100%;
    height: calc(100vh - var(--top-spacing));
    left: 0;
    top: var(--top-spacing);
    background-color: var(--background-primary);
    z-index: 1010;
    padding: 3rem 2rem;
    overflow: auto;
}

.mobile-header-menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
}

.mobile-header-menu ul, .mobile-header-menu li, .mobile-header-menu a{
    width: 100%
}

.mobile-header-menu ul li{
    padding: 1rem 0;
    position: relative;
}

.mobile-header-menu > ul a:not(:last-child) li::after,
.header-dropdown-submenu > ul a:not(:last-child) li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--text-primary);
}

.mobile-header-menu{

}

@media screen and (max-width: 1200px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}